{% load static %}
    
<div class="container">
    <div class="containerOne">
         <div class="auctiondesc">
            <h3> <b id="auctiontext2">AUCTION </b><small id="spottext2">SPOT</small></h3>
            <p>
                Step into the thrill of competitive bidding with Auction Spot! Here, you can register to host your own auctions or participate in dynamic, fast-paced bidding wars for your favorite sports, players, and teams. Whether you're passionate about cricket, football, or any other sport, Auction Spot brings you closer to the action, enabling you to strategize, compete, and win. Showcase your skills as an organizer or a bidder, connect with fellow enthusiasts, and experience the excitement of auctions like never before. Don’t miss out on this unique opportunity—register today and be part of a vibrant community of sports lovers!
            </p>
         </div>
    </div>
    <div class="containerTwo">
        <div class="subContainerTwo">
            <a class="auction-tab" style="color:black" href="../host_auction">
                
                    <div class="home-container-image">
                        <i class="fas fa-gavel fa-6x"></i>   <!-- Larger Gavel Icon -->
                    </div>
                    <font class="home-container-font">HOST AUCTION</font>
                
            </a>
            <a class="bid-tab" style="color:black" href="../joinauction">
                <div class="home-container-image">    
                    <i class="fas fa-user-plus fa-6x"></i>  
                </div>
                <font class="home-container-font">JOIN AUCTION</font>
            </a>
        </div>
    </div>
</div>
